{% extends 'base.html.twig' %}

{% block navbar %}
    <table>
        <tr>
            <td><b><a href="{{ path('product_index') }}">Výpis produktů</a></b></td>
            <td>|</td>
            <td><a href="{{ path('purchase_order_index') }}">Výpis objednávek</a></td>
            <td>|</td>
            <td><a href="{{ path('product_new') }}">Nový produkt</a></td>
            <td>|</td>
            <td><a href="{{ path('purchase_order_new') }}">Nová objednávka</a></td>
         </tr>
    </table>
{% endblock %}

{% block title %}Products index{% endblock %}

{% block body %}
<body style="background-color:lightgreen;">
    <h1>Products index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
                <th>stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
    <br>
    <a href="{{ path('product_stats') }}">Statistiky</a>
    </body>
{% endblock %}