{% extends 'base.html.twig' %}

{% block navbar %}
    <table>
        <tr>
            <td><a href="{{ path('product_index') }}">Výpis produktů</a></td>
            <td>|</td>
            <td><a href="{{ path('purchase_order_index') }}">Výpis objednávek</a></td>
            <td>|</td>
            <td><b><a href="{{ path('product_new') }}">Nový produkt</a></b></td>
            <td>|</td>
            <td><a href="{{ path('purchase_order_new') }}">Nová objednávka</a></td>
         </tr>
    </table>
{% endblock %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
